{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "expect": false
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "cfg/test.js"
      }
    }
  },
  "rules": {
    "lodash/prefer-lodash-method": 0
  }
}
