@import '../color';
@import '../border';
@import '../font-size';

.card-component {
  $card-padding-etalon: 16px;
  $card-spacing-etalon: 28px;

  background-color: $color-background;
  border: $border-lighter;
  box-shadow: 0 2px 0 $color-shadow;
  display: flex;
  flex-direction: row;
  font-size: $font-size-body;
  margin-bottom: $card-spacing-etalon;
  min-height: 40px;
  min-width: 205px;
  vertical-align: top;

  &-grid-container {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin-right: -$card-spacing-etalon;

    .card-component {
      margin-right: $card-spacing-etalon;
    }
  }

  .flexible-spacer-component {
    border: 0;
  }

  &-content-container {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    height: 100%;
  }

  &-content {
    padding: $card-padding-etalon $card-padding-etalon 0;

    &:last-child {
      padding-bottom: $card-padding-etalon;
    }

    &.stretch {
      padding-left: 0;
      padding-right: 0;
    }

    &.fill {
      padding: 0;
    }
  }
}
