@import '../color';
@import '../fontSize';
@import '../variable';

.empty-component {
  cursor: default;
  margin: 0 auto;
  padding: 60px;
  text-align: center;
  user-select: none;

  &-icon {
    $icon-diameter: 70px;
    background-color: $color-gray-lighter;
    border-radius: 50%;
    display: block;
    height: $icon-diameter;
    margin: 0 auto;
    width: $icon-diameter;
  }

  &-text {
    color: $color-text-placeholder;
    font-size: $font-size-body;
    line-height: $line-height-etalon;
    margin-top: $spacing-etalon / 3;
  }
}
