@import '../border';
@import '../color';
@import '../fontSize';
@import '../icon';

.search-component {
  $search-height: 26px;

  height: $search-height;
  line-height: $search-height;
  position: relative;
  width: 100%;

  ::placeholder {
    color: $color-text-placeholder;
  }

  ::-webkit-search-cancel-button,
  ::-webkit-search-decoration {
    appearance: none;
  }

  &-input {
    -webkit-appearance: textfield; // For Safari.
    border: $border-lighter;
    border-radius: 2px;
    box-sizing: border-box;
    color: $color-text;
    font-size: $font-size-body;
    height: inherit;
    margin: 0;
    padding: 0 0 0 10px;
    width: inherit;

    &:active,
    &:focus {
      border-color: $color-border;
      outline: 0; // Override UA
    }
  }

  &-icon {
    background-image: $icon-cancel;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px;
    cursor: pointer;
    height: 100%;
    position: absolute;
    right: 0;
    top: 1px;
    width: $search-height;

    &.is-empty {
      background-image: $icon-search;
      cursor: default;
      pointer-events: none;
    }
  }
}
