$color-background: #555;
$color-donut: #fff;
$color-marker: #da4f49;

.slicey {
  &-component {
    vertical-align: top;
  }

  &-background,
  &-empty {
    fill: $color-background;
  }

  &-marker {
    stroke: $color-marker;
    stroke-width: .02;
  }

  &-donut {
    fill: $color-donut;
  }
}
