$color-background: #555;
$color-gray-white: #f9f9f9;

.slicey {
  &-component {
    vertical-align: top;
  }

  &-background {
    fill: $color-background;
  }

  &-empty {
    fill: $color-gray-white;
  }
}
