@import '../color';
@import '../font-size';
@import '../font-weight';

.statistic-component {
  &-value {
    font-size: $font-size-header;
    font-weight: $font-weight-bold;
  }

  &-label {
    color: $color-text-sub;
    font-size: $font-size-body;
    font-weight: $font-weight-light;
  }

  & + .statistic-component {
    margin-top: 5px;
  }

  &.inline {
    .statistic-component-label,
    .statistic-component-value {
      display: inline-block;
    }

    .statistic-component-label {
      margin-left: 5px;
    }

    .statistic-component-value {
      font-size: $font-size-subheader;
    }
  }
}
