@import '../fontSize';
@import '../border';

.treepickerselected-component {

  &-header {
    font-size: $font-size-subheader;
    line-height: 41px;
    margin: 0;
  }

  .empty-component {
    border-left: $border-lighter;
    border-right: $border-lighter;
  }
}
