@import '../border';
@import '../color';
@import '../fontSize';

.treepickernode-component {

  &-metadata {
    color: $color-text-light;
  }

  .grid-component-cell-button {
    height: 15px;
    min-width: 60px;
  }
}
