{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "max-len": [1, 120, 2],
    "no-cond-assign": [2, "except-parens"],
    "id-length": [2, {"min": 3, "max": 25, "properties": "never", "exceptions": ["_"]}]
  }
}
