# Logs
logs
*.log

# Coverage directory
coverage

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
bower_components/

# Source Maps
*.map

# OSX Files
.DS_Store

# Editor related
.idea/

