// For display of components during development.
// This is not distributed.
@import 'color';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.index {
  $etalon-spacing: 40px;

  margin: 0 auto;
  max-width: 940px;
  min-width: 300px;
  padding: 0 $etalon-spacing $etalon-spacing;

  > h1 {
    margin-bottom: $etalon-spacing;
    margin-top: ($etalon-spacing * 2);

  }

  .fixed-height-card {
    height: 150px;
  }
}

// A re-usable example for creating custom accent colours for the <Tag> component
@mixin accent($id, $color-accent) {
  label {
    &.accent-#{$id} {
      color: $color-accent;
    }
  }

  .card-component {
    &.accent-#{$id} {
      .card-component-content-container {
        border-bottom-color: $color-accent;
      }
    }
  }

  .tag-component-accent {
    &.accent-#{$id} {
      border-color: $color-accent;

      &:not(.tag-component-inverse) {
        background-color: $color-accent;
      }

      &.tag-component-inverse {
        color: $color-accent;
        fill: $color-accent;
      }
    }
  }
}

@include accent(0, $color-positive)
@include accent(1, $color-pending)
@include accent(2, $color-negative)
